<% provide(:title, 'DB') %>
<%= flash[:notice] %>
<div>
  <%= form_tag upload_path, multipart: true do %>
    <p>
      Upload an input CSV file1:<br />
      <%= file_field_tag :file1 %>
    </p>
    <p>
      Upload an input CSV file2:<br />
      <%= file_field_tag :file2 %>
    </p>
    <p>
      Enter the value of threshold 'K':<br />
      <%= text_field_tag :threshold, value=5 %>
    </p>
    <p>
      <%= submit_tag 'Submit' %>
    </p>
  <% end %>
</div>