<style type="text/css">
    table.center {
        margin-left: auto;
        margin-right: auto;
    }
    #mydiv {
        position: fixed;
        left: 50%;
    }
</style>

<script>
function onClickFucntion(row_num, col_num) {
    $.ajax(
            {
                type: 'POST',
                url: '/update',
                data: {
                    row: row_num,
                    column: col_num
                },
            }
    );
    window.location.href='/view?reload=0';
}
function updateMatchFucntion(row_num, already_matched) {
    $.ajax(
            {
                type: 'POST',
                url: '/update_match',
                data: {
                    row: row_num,
                    matched: already_matched
                },
            }
    );
    window.location.href='/view?reload=0';
}
function goPrevious() {
    $.ajax(
            {
                type: 'POST',
                url: '/go_prev',
            }
    );
    window.location.href='/view?reload=0';
}
function goNext() {
    $.ajax(
            {
                type: 'POST',
                url: '/go_next',
            }
    );
    window.location.href='/view?reload=0';
}
</script>

<h3 class="center" id="response_message">Response message : <%= $message %></h3>
<h2 class="center">Privacy budget: <%= $privacy_budget %></h2>
<font size="3">
<table border="3" class="left">
  <thead>
    <tr>
      <th>Privacy Risk (%)</th>    
    </tr>
  </thead>
  <tr>
    <td>
      <%= $budget %>    
    </td>
  </tr>
</table>
    
<font size="6">
<table border="2" class="center">
  <thead>
    <tr>
      <% $column_names.each do |col| %>
        <th><%= col %></th>
      <% end %>
      <th>Match</th>
    </tr>
  </thead>

  <% for row in $start_index..[$start_index + $gap, $num_rows - 1].min %>
  <tr>
    <% for col in 0..$num_cols - 1 %>
        <% if $values_first_shown[row][col] == $values_second_shown[row][col] %>
            <td onclick="onClickFucntion(<%= row %>, <%= col %>)"><%= $values_first_shown[row][col] %></td>
        <% else %>
            <td>
              <table>
                <tr><td onclick="onClickFucntion(<%= row %>, <%= col %>)"><%= $values_first_shown[row][col] %></td></tr>
                <tr><td onclick="onClickFucntion(<%= row %>, <%= col %>)"><%= $values_second_shown[row][col] %></td></tr>
              </table>
            </td>
        <% end %>
    <% end %>


    <td onclick="updateMatchFucntion(<%= row %>, <%= $is_match[row] == true%>)">
      <% if $is_match[row] == true %>
          Match
      <% else %>
          Not match
      <% end %>
    </td>

  </tr>
  <% end %>

</table>
  <div id="mydiv">
    <button class="button" onclick="goPrevious()">Previous</button>
    <button class="button" onclick="goNext()">Next</button>
  </div>

</font>